.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
  
}

.banner-overlay {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
  margin-left: 100px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #bac3cb 0%, gray 50%, #666666 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  
}

.banner-subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 15px;
  background: linear-gradient(to right, #bac3cb 0%, gray 50%, #666666 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3rem;
}
.home-banner {
  background-position: right center;
}
.banner-mobile-title {
  display: none;
}
@media (max-width: 600px) {
  .banner {
    height: 300px;
    justify-content: center;
    background-position: 85% center;
  }

  .banner-overlay {
    margin-left: 0;
    max-width: 100%;
    padding: 10px;
  }

  .banner-title {
    font-size: 3rem;
    text-align: center;
  }

  .banner-subtitle {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }


  .home-banner {
    background-position: 95% center;
    justify-content: flex-end;
  }

  .home-banner .banner-overlay {
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
  }


  .banner-overlay {
    display: none;
  }

  .banner-mobile-title {
    display: block;
    text-align: center;
    padding-top:35px;
  }

  .banner-mobile-title .banner-title {
    font-size: 2.5rem;
  }

  .banner-mobile-title .banner-subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 300px;
    justify-content: center;
    background-position: 85% center;
  }

  .banner-overlay {
    margin-left: 0;
    max-width: 100%;
    padding: 10px;
  }

  .banner-title {
    font-size: 3rem;
    text-align: center;
  }

  .banner-subtitle {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .home-banner {
    background-position: 95% center;
    justify-content: flex-end;
  }

  .home-banner .banner-overlay {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 0;
  }
  .banner-overlay {
    display: none;

  }

  .banner-mobile-title {
    display: block;
    text-align: center;
    padding-top: 35px;
    
  }

  .banner-mobile-title .banner-title {
    font-size: 2.5rem;
  }

  .banner-mobile-title .banner-subtitle {
    font-size: 1.5rem;
  }
}


