.footer {
    width: 100%;
    margin-top: auto;
    text-align: left;
    padding: 20px;
    background-color: #2b2b2b94;
    letter-spacing: 0.5px;   
    box-sizing: border-box;
    font-weight: 500;
}
.footer a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;  
    color: #bac3cb;     
    text-decoration: none;  
    transition: color 0.4s;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top:10px;
}

.footer a:hover {
    color: #2f7bb9 ;  
}
.footer-text {
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
}

.footer-icon {
    width: 25px;
    height: 25px;
}
.social-media-links {
    display:flex;
    gap:20px;
    margin-top:20px;
    justify-content: left;
}
.social-media-links a{
    font-size: 27px;
    color: #bac3cb;
    transition: 0.4s;
}
.social-media-links a:hover{
    color: #2f7bb9;
}
.copyright {
    font-size:13px;
    text-align: center;
    
}
@media (max-width: 600px) {
  .footer {
    text-align: center;       
    padding: 30px 10px;      
  }
  
  .footer a {
    justify-content: center;  
    margin-left: 0;          
    margin-bottom: 30px;     
  }
  
  .social-media-links {
    justify-content: center;  
    margin-top: 15px;
    gap:30px;
  }

  .footer-text {
    justify-content: center;  
  }
}
