.card {
    width:300px;
    border: 1px solid black;
    border-radius: 8px;
    padding:16px;
    margin:10px;
    margin-bottom:30px;
    text-align: center;
    background-color: #2b2b2b94;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.card .btn-hover.color-9 {
    width: auto;
    padding: 12px 20px;
    font-size: 15px;
    margin-top: 16px;
    color: #bac3cb;
}


.card-link{
    text-decoration: none;
    color:inherit;
}
.card h2 {
    font-size:1.5rem;
    margin: 10px 0;
}
.description {
    font-size: 17px;
}
.card .price {
    font-weight: bold;
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform:scale(1.4)
    }
    100% {
        transform: scale(1);
    }
}
.icon-pop {
    animation:pop 0.4s ease;
}
