.search-container {
    width:304px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;   
}
.search-input-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}
.search-input{
    padding:10px;
    font-size: 1rem;
    color:#bac3cb;
    outline:none;
    border: none;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
    background-color: #2b2b2b94;
    background-image: linear-gradient(to top, #000000, #2b2b2b);
}
.search-input:focus{
    border-color:#2f7bb9;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.3);
}
.search-button {
    padding:10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #2f7bb9;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    background-color: black;
}
.search-button:hover{
    background-color: #2b2b2b94;
    background-image: linear-gradient(to top, #000000, #2b2b2b);
}
.search-button .fa {
    font-size: 20px;             
}
.search-error{
    color:#2f7bb9;
    text-align: center;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .search-container {
        margin: 20px; 
        padding: 1rem; 
    }

    .search-input-container {
        flex-direction: row; 
        gap: 0.75rem; 
        justify-content: space-between;
    }

    .search-input {
        max-width: 280px; 
    }

    .search-button {
        max-width: 100px; 
    }
}

@media (max-width: 480px) {
    .search-container {
        margin: 10px auto;
        padding: 0.75rem;
        max-width: 95%; 
    }

    .search-input-container {
        flex-direction: row; 
        gap: 0.5rem; 
        width: 100%;
    }

    .search-input {
        max-width: 250px; 
        font-size: 0.95rem;
    }

    .search-button {
        max-width: 90px; 
        font-size: 0.95rem;
        padding:8px;
    }
    .search-input::placeholder {
        font-size: 0.85rem;
      }
}