.carParts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.carParts-container .card {
  flex: 0 0 calc(33.333% - 20px); 
  box-sizing: border-box;
}
.pagination-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 40px;
}
.page-item{
    list-style-type: none;
    margin: 0 5px;
}

.page-link{
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#bac3cb;
    font-size: 16px;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s
}
.page-link svg {
    vertical-align: middle;
    font-size: 15px;
}
.active .page-link{
    background-color: #2f7bb9;
    color:white;
}
.page-link:hover {
    background-color:#2f7bb9 ;
}
.page-item.disabled .page-link{
    background-color: #000000;
    color:#000000;    
    cursor: not-allowed;
    border-color: #000000;
}

.pagination-container li {
    list-style-type: none;
}
.filters-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem; 
    padding: 1rem 0;
  }
  
  .filters-bar > * {
    flex: 1;
    min-width: 250px; /* Ensures they don’t get too narrow on small screens */
  }
  .carParts-page {
  padding: 1rem;
}

.carParts-layout {
  display: flex;
  gap: 1rem;
}

/* Kategoriapalkki vasemmalla */
.category-sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: #2b2b2b94;
  padding: 1rem;
  color: #bac3cb;
  height:auto;
  
  
}

/* Osat oikealla */
.parts-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .carParts-container .card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .carParts-layout {
    flex-direction: column;
  }
  .carParts-container .card {
    flex: 0 0 100%;
  }
}