.parts-review-row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.5rem;
    padding: 1rem 2rem;
}
.Carparts-section {
    margin-top:2rem;
}
.Carparts-section h1 {
    margin-left:2.7rem;
    
}
.view-all-button-wrapper{
    margin-bottom:50px;
    text-align: left;
    justify-content: left;
    margin-left: 2.5rem;
}

.view-all-button {
    padding: 0.6rem 1rem;
    text-decoration: none;
    color:#bac3cb;
    transition: color 0.3s ease;
    font-size: 25px;
    font-weight: bold; 
    background-color: #2b2b2b94;
    border-radius: 5px;
    cursor: pointer;
}
.view-all-button:hover {
    color: #2f7bb9;
}
.right-icon {
    font-size: 1.5rem;
    margin-left: 8px;
}
.information-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b94;
    background-image: linear-gradient(to right, black,#2b2b2b94);
    gap:10px;
    padding-right:0.5rem;
}
.information-image {
    flex: 0 0 30%;
    
}
.information-image img {
    width: 100%;
    height:auto;
    object-fit: cover;
    
}
.information-text{
    flex:1;
}
.information-text p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 1rem;
    border-radius: 5px;
}
.information-link {
    color:#bac3cb;
    text-decoration: line;
    margin-left:4px;
    cursor: pointer;
    transition: color 0.4s ease;
}
.information-link:hover{
    color: #2f7bb9;
}
.information-link-prices{
    text-decoration:none;
    color:#bac3cb;
}
@media (max-width: 1024px){
    .parts-review-row{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
    }
    .information-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0;
    }
    .view-all-button-wrapper{
        margin-left:1rem;
    }
    .Carparts-section h1 {
        margin-left:1rem;
    }
}
@media (max-width: 600px){
    .parts-review-row{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .information-text p {
        font-size: 1.2rem;
        text-align: center;
    }
    .view-all-button{
        font-size: 18px;
        padding: 0.5rem 0.8rem;
    }
    .right-icon{
        font-size: 1.2rem;
    }
    .view-all-button-wrapper {
        margin-left: 1.5rem;
        text-align: left;
      }
    
      .Carparts-section h1 {
        margin-left: 1.5rem;
        font-size: 1.8rem;
      }
}