.parts-review-row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.5rem;
    padding: 1rem 2rem;
}
.Carparts-section {
    margin-top:2rem;
}
.Carparts-section h1 {
    margin-left:2.7rem;
    
}
.view-all-button-wrapper{
    margin-bottom:50px;
    text-align: left;
    justify-content: left;
    margin-left: 2.5rem;
}

.view-all-button {
    padding: 0.6rem 1rem;
    text-decoration: none;
    color:#bac3cb;
    transition: color 0.3s ease;
    font-size: 25px;
    font-weight: bold; 
    background-color: #2b2b2b94;
    border-radius: 5px;
    cursor: pointer;
}
.view-all-button:hover {
    color: #2f7bb9;
}
.right-icon {
    font-size: 1.5rem;
    margin-left: 8px;
}
.information-container {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b94;
    margin: 2.5rem;
    border-radius: 5px;
}
.information-image {
    flex: 0 0 30%;
   
}
.information-image img {
    width: 100%;
    height:auto;
    border-radius: 5px;
    object-fit: cover;
}
.information-text{
    flex:1;
}
.information-text p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-left: 20px;
    background-color: black;
    padding: 2rem 2rem;
}
.information-link {
    color:#bac3cb;
    text-decoration: line;
    margin-left:4px;
    cursor: pointer;
}
