.slider {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  margin-bottom: 30px;
  
}

.slider:active {
  cursor: grabbing;
}

.item {
  position: absolute;
  width: 400px;
  max-height: 450px;      
  overflow-y: auto;       
  background-color: #2b2b2b94;
  background-image: linear-gradient(to bottom, #000000, #2b2b2b);
  border-radius: 4px;
  padding: 20px;
  transition: transform 0.6s, opacity 0.8s, filter 0.6s;
  left: calc(50% - 200px);
  top: 0;
  pointer-events: auto;   /* scroll ja klikit toimivat */
  transform: translateY(-5px);
  box-shadow: 0 14px 30px #2f7bb93b;
}
.item h2{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 15px;
  
  
}
.otsikko {
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b94;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.534),#2b2b2b3e,rgba(0, 0, 0, 0.534));
  padding: 10px 10px;
  margin-bottom:50px;
  color:#bac3cb;
  
  
}
.itemRow {
  display: flex;
  align-items: center; /* keskittää pystysuunnassa */
  justify-content: center; /* keskittää vaakasuunnassa */
  gap: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}
.title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom:15px;
  color: #bac3cb78;
}

.itemRow .wheelIcon {
  font-size: 1em;
  color: #bac3cb;
  flex-shrink: 0;
}
.itemRow .steeringIcon {
   font-size: 0.8em;
   flex-shrink: 0;
}


.linkki {
  text-decoration: none;
  color: #bac3cb;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.linkki:hover {
  color: #2f7bb9;
}
.sliderContainer {
  position: relative; /* tarve, jotta nuoli voi olla absoluuttisesti sen sisällä */
  width: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: none;
  border: none;
  color: #bac3cb63;
  cursor: pointer;
  opacity: 0.6;
  z-index: 10;
  transition: opacity 0.3s;
}

.prev:hover, .next:hover {
  opacity: 1;
  color:#2f7bb9;
  transition: 1.5s;
}

.prev {
  left: 300px;
}

.next {
  right: 300px;
}
.titleWithImageWrapper {
  position: relative;
  width: 100%;
  height: 140px; /* korkeus kuvalle */
  margin-bottom: 10px;
  overflow: hidden;
}

.titleBgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4); /* tummentaa kuvaa jotta teksti erottuu */
}

.titleOverlay {
  position: absolute;  
  top: 50%;             
  left: 50%;           
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;   
  padding: 5px 10px;
    white-space: normal;  
  word-wrap: break-word; 
  
  max-width: 90%;
}



@media (max-width: 768px) {
  .item {
    width: 80%;           /* kortti vie 90% ruudusta */
    left:10%;         /* keskitä vaakasuunnassa */
    transform: translateX(-50%) translateY(-5px); /* keskitetty + pientä nostoa */
    max-width: 500px; 
    
    
  }
  .item h2{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom:15px;
}
  .itemRow{
    font-size: 1.4rem;
  }
  .otsikko {
    font-size: 1.5rem ;
  }
  .title{
    font-size: 1.3rem;
  }
  .slider{
    max-height: 600px;
  }
  .prev, .next {
    font-size: 2.5rem;
  }
  .prev {
  left: 10px;
}

.next {
  right: 10px;
}
}