.slider {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  margin-bottom: 30px;
}

.slider:active {
  cursor: grabbing;
}

.item {
  position: absolute;
  width: 400px;
  max-height: 450px;      
  overflow-y: auto;       
  background: #1a1a1a;
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.6s, opacity 0.8s, filter 0.6s;
  left: calc(50% - 200px);
  top: 0;
  pointer-events: auto;   /* scroll ja klikit toimivat */
}
.item h2{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 15px;
}
.otsikko {
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b94;
  padding: 10px 10px;
  margin-bottom:50px;
}
.itemRow {
  display: flex;
  align-items: center; /* keskittää pystysuunnassa */
  justify-content: center; /* keskittää vaakasuunnassa */
  gap: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}
.title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom:15px;
  color: #bac3cb78;
}

.itemRow .wheelIcon {
  font-size: 1em;
  color: #bac3cb;
  flex-shrink: 0;
}
.itemRow .steeringIcon {
   font-size: 0.8em;
}

.linkki {
  text-decoration: none;
  color: #bac3cb;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.linkki:hover {
  color: #2f7bb9;
}
.sliderContainer {
  position: relative; /* tarve, jotta nuoli voi olla absoluuttisesti sen sisällä */
  width: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: none;
  border: none;
  color: #bac3cb63;
  cursor: pointer;
  opacity: 0.6;
  z-index: 10;
  transition: opacity 0.3s;
}

.prev:hover, .next:hover {
  opacity: 1;
  color:#2f7bb9;
  transition: 1.5s;
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}
@media (max-width: 768px) {
  .item {
    
    max-height: 400px;
    padding: 16px;
  }
  .item h2{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom:15px;
}
  .itemRow{
    font-size: 1.4rem;
  }
  .otsikko {
    font-size: 1.5rem ;
  }
  .title{
    font-size: 1.3rem;
  }
  .slider{
    max-height: 600px;
  }
  .prev, .next {
    font-size: 2.5rem;
  }
  .prev {
  left: 10px;
}

.next {
  right: 10px;
}
}