.priceContainer{
    background-color: #2b2b2b94; 
    padding: 10px;
    margin: 40px auto;
    max-width: 90%;
    box-sizing: border-box;
    border-radius: 8px;
}
.priceinfo{
    font-size: 17px;
    
}
.heroImage {
    display: flex;              
    align-items: center;         
    justify-content: flex-start; 
    height: 400px;               
    width: 100%;
    position: relative;          
}

.heroText h1{
    font-size: 2rem;
    text-align: left;         
    color: #bac3cb;
    background-color: #00000094;
    padding: 20px;               
    margin-left: 30px;           
    max-width: 700px;           
}
table.priceTable {
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    overflow: hidden;
}
.tuntiveloitus{
  margin-bottom: 20px;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    #bac3cb,
    #4da6ff,
    #1c5fa8,
    #bac3cb
  );
  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textGradientMove 6s ease infinite;

}

.priceTable td, .priceTable th {
    border: 1px solid #bac3cb;
    padding: 25px;
    text-align: left;
    word-wrap: break-word;
    color: #bac3cb;
    font-size:1.3rem;
    font-weight:500;
}

.priceTable tr:hover {
    background: linear-gradient(270deg, #040b1344, #060d1566, #112d432f);
    background-size: 600% 600%;
    animation: gradientMove 3s ease infinite;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}
.infoContainer h3{
    font-size: 1.5rem;
    background-color: black;
    padding:10px;
    background-color: #2b2b2b94;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.534),#2b2b2b3e,rgba(0, 0, 0, 0.534));
    
    
}
@media (max-width: 768px) {
    .priceContainer {
        padding:20px;
        margin: 40px auto;
        max-width: 100%;
    }
    .priceinfo{
        font-size:18px;
    }
    table.priceTable {
        font-size: 18px;
        width: 100%;
    }
    .priceTable td, .priceTable th {
        padding:30px;
    }
    p {
        font-size:14px;
    }
    h2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .priceContainer {
        padding: 10px 20px; 
        margin: 30px auto;
        max-width: 95%;
    }

    table.priceTable {
        font-size: 16px; 
        width: 100%;
    }

    .priceTable td, .priceTable th {
        padding: 25px; 
    }

    p {
        font-size: 12px; 
    }
    h2{
        font-size: 18px;
    }
    .infoContainer h3{
        font-size: 1.2rem;
    }
}