.priceContainer{
    background-color: #2b2b2b94; 
    padding: 10px;
    margin: 40px auto;
    max-width: 90%;
    box-sizing: border-box;
    border-radius: 8px;
}
.priceinfo{
    font-size: 17px;
    
}
table.priceTable {
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    overflow: hidden;
}
.tuntiveloitus{
  margin-bottom: 20px;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    #bac3cb,
    #4da6ff,
    #1c5fa8,
    #bac3cb
  );
  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textGradientMove 6s ease infinite;

}

.priceTable td, .priceTable th {
    border: 1px solid #bac3cb;
    padding: 25px;
    text-align: left;
    word-wrap: break-word;
    color: #bac3cb;
    font-size:1.2rem;
    font-weight:500;
}

.priceTable tr:hover {
    background: linear-gradient(270deg, #040b1344, #060d1566, #112d432f);
    background-size: 600% 600%;
    animation: gradientMove 3s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.infoContainer h2 {
    text-align: center;
    color: #bac3cb;
    background-color: #00000094;
    padding:10px;
}
@media (max-width: 768px) {
    .priceContainer {
        padding:15px;
        margin: 40px auto;
        max-width: 100%;
    }
    .priceinfo{
        font-size:18px;
    }
    table.priceTable {
        font-size: 18px;
        width: 100%;
    }
    .priceTable td, .priceTable th {
        padding:30px;
    }
    p {
        font-size:14px;
    }
    h2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .priceContainer {
        padding: 1px 10px; 
        margin: 30px auto;
        max-width: 95%;
    }

    table.priceTable {
        font-size: 16px; 
        width: 100%;
    }

    .priceTable td, .priceTable th {
        padding: 8px; 
    }

    p {
        font-size: 12px; 
    }
    h2{
        font-size: 18px;
    }
}